
body {
	background-color: #eee;
	overflow-y: scroll;
}

div.loading {
	text-align: center;
}

@media screen and (min-width: 1330px ){
	div.container {
		width: 1080px;
	}
}

@media screen and (min-width:1010px ) and (max-width: 1330px ){
	div.container {
		width: 810px;
	}
}

@media  (min-width:740px ) and ( max-width: 1010px){
	div.container{
		width: 540px;
	}
}

@media ( min-width:470px ) and ( max-width: 780px){
	div.container{
		width: 270px;
	}
}

@media (max-width: 470px ){
	div.container{
		margin: auto;
		width: 270px;
		padding-top: 10px;
	}
	div.nav {
		position: static;
		background: #eee !important;
	}
	div.nav-bottom{
		position: static !important;	
	}
	div.nav-palatte {
		display: none;
	}
	div.nav-title {
		display: none;
	}
	div.pic-container {
		opacity: 1 !important;
	}

}
@media ( min-width: 470px ){
	div.nav {
		background-color: #666;
		position: fixed;
		top: 0;
		right: 0;
		width: 200px;
		height: 100%;
		/*margin-right: 20px ;*/
		text-align: center;
		background-repeat:no-repeat;
		background-attachment:fixed;
		background-position: right;
	}
}

div.nav h2 {
	color: #fff; 
}

div.nav-title {
	margin-top: 10px;
	font-size: 32px;
	line-height: 32px;
	color: #fff;
}

div.nav-palatte {

	padding-bottom: 20px;
	background-color: #eee;
}



div.nav-box:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

div.nav-box {
	width: 100%;
	margin: auto;
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
	font-family: monospace;
	color: #FFF;
	height: 40px;

}

div.nav-footer {
	font-size: 12px;
}

div.nav-footer a{
	color: black;
} 


div.nav-footer a:active{ 
	color: red;
}
div.nav-footer a:hover{
	color: red;
}

div.nav-footer a:visited {
	color: black;
 }

div.nav-bottom {
	color : black;
	bottom: 30px;
	position: absolute;
	text-align: center;
	width: 100%	;
	font-family: Times;
}

/*
div.pic-container:hover {
	opacity: 1;
}
*/
div.pic-container {
	float:left ;
	width: 240px;
	background-color: #ffffff ;
	margin: 5px;
	padding: 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	opacity: 0.4;
	-webkit-transition:opacity .5s; /* For Safari 3.1 to 6.0 */
	transition:opacity .5s;
}


div.pic-container:hover {
	opacity: 1;
}
div.pic-active {
	opacity: 1;
}

div.pic-title {
	width: 100% ;
	margin-bottom: 10px;
	text-align: center;
}

div.pic-title .title-text{
	font-size: 30px;
	line-height: 30px;
}

div.pic-pic {
}
div.pic-pic img {
	max-width: 100%;
}

div.pic-author {
	font-size: 12px;
	color: #666;
	text-align: right;
	padding-top: 10px;
}

div.palatte {
	height: 100%;
}
div.box:before {
	content:'';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 0;
}

div.box {
	display: inline-block;
	vertical-align: middle;
	height: 40px;
	width: 40px;
	text-align: center;
	color: #FFF;
	font-family: monospace;
}

